# Building basic deep learning model with keras
Step :
- Specify architecture
- Compile
- Fit
- Predict

In [1]:
# import library
import numpy as np
import pandas as pd 
import seaborn as sns
import matplotlib.pyplot as plt

# Reegression Deep Learning Model

## Data Preparations

In [2]:
# import datasets
PATH = 'data/hourly_wages.csv'

df = pd.read_csv(PATH)
print(df.head())

df.describe()

   wage_per_hour  union  education_yrs  experience_yrs  age  female  marr  \
0           5.10      0              8              21   35       1     1
1           4.95      0              9              42   57       1     1
2           6.67      0             12               1   19       0     0
3           4.00      0             12               4   22       0     0
4           7.50      0             12              17   35       0     1

   south  manufacturing  construction
0      0              1             0
1      0              1             0
2      0              1             0
3      0              0             0
4      0              0             0

,wage_per_hour,union,education_yrs,experience_yrs,age,female,marr,south,manufacturing,construction
count,534.000000,534.000000,534.000000,534.000000,534.000000,534.000000,534.000000,534.000000,534.000000,534.000000
mean,9.024064,0.179775,13.018727,17.822097,36.833333,0.458801,0.655431,0.292135,0.185393,0.044944
std,5.139097,0.384360,2.615373,12.379710,11.726573,0.498767,0.475673,0.455170,0.388981,0.207375
min,1.000000,0.000000,2.000000,0.000000,18.000000,0.000000,0.000000,0.000000,0.000000,0.000000
25%,5.250000,0.000000,12.000000,8.000000,28.000000,0.000000,0.000000,0.000000,0.000000,0.000000
50%,7.780000,0.000000,12.000000,15.000000,35.000000,0.000000,1.000000,0.000000,0.000000,0.000000
75%,11.250000,0.000000,15.000000,26.000000,44.000000,1.000000,1.000000,1.000000,0.000000,0.000000
max,44.500000,1.000000,18.000000,55.000000,64.000000,1.000000,1.000000,1.000000,1.000000,1.000000

In [3]:
predictors = df.drop(columns='wage_per_hour').values
target = df['wage_per_hour'].values

In [4]:
# 534 data, 9 features
print(predictors.shape)
print(target.shape)

(534, 9)
(534,)

## Import Keras Library

In [5]:
from keras.layers import Dense
from keras.models import Sequential

## 1. Specify the model

In [6]:
# save number of columns
n_cols = predictors.shape[1]

# initialize model
model = Sequential()

# add first layer
model.add(Dense(50, activation='relu', input_shape = (n_cols,)))

# add second layer
model.add(Dense(32, activation='relu'))

# add output layer
model.add(Dense(1))

## 2. Compiling the model

In [7]:
model.compile(optimizer='adam', loss='mean_squared_error')

## 3. Fitting the data

In [8]:
model.fit(predictors, target)

17/17 [==============================] - 0s 1ms/step - loss: 178.8955

# Classification Deep Learning Model

## Data Preparations

In [9]:
TITANIC_PATH = 'data/titanic_all_numeric.csv'

titanic = pd.read_csv(TITANIC_PATH)
titanic.head()

,survived,pclass,age,sibsp,parch,fare,male,age_was_missing,embarked_from_cherbourg,embarked_from_queenstown,embarked_from_southampton
0,0,3,22.0,1,0,7.2500,1,False,0,0,1
1,1,1,38.0,1,0,71.2833,0,False,1,0,0
2,1,3,26.0,0,0,7.9250,0,False,0,0,1
3,1,1,35.0,1,0,53.1000,0,False,0,0,1
4,0,3,35.0,0,0,8.0500,1,False,0,0,1

In [10]:
# import to_categorical
from keras.utils import to_categorical

# new predictors and targets
X = titanic.drop(columns='survived').astype(np.float32)
y = to_categorical(titanic['survived'])

In [11]:
# separate data
from sklearn.model_selection import train_test_split

predictors, pred_data, target, pred_target = train_test_split(X, y, test_size=0.2)

In [12]:
# 891 data, 10 features
print(predictors.shape)
print(target.shape)

print(pred_data.shape)
print(pred_target.shape)

(712, 10)
(712, 2)
(179, 10)
(179, 2)

In [13]:
n_cols = predictors.shape[1]

## 1. Specify the model

In [14]:
model_clf = Sequential()

# add first layer
model_clf.add(Dense(32, activation='relu', input_shape=(n_cols,)))

# add output layer
model_clf.add(Dense(2, activation='softmax'))

## 2. Compiling the model

In [15]:
model_clf.compile(optimizer='sgd', loss='categorical_crossentropy', metrics=['accuracy'])

## 3. Fitting the data

In [16]:
model_clf.fit(predictors, target)

23/23 [==============================] - 0s 1ms/step - loss: 2.1807 - accuracy: 0.5744

## 4. Predict

In [17]:
predictions = model_clf.predict(pred_data)

# calculate predicted probability of survival
predictions[:,1]

array([0.9999999 , 0.41475856, 0.4512999 , 0.9906342 , 0.93672496,
       0.5076064 , 0.94310373, 1.        , 0.94119704, 0.9999975 ,
       0.4502982 , 0.95437706, 0.46416244, 0.2914258 , 0.7418729 ,
       0.4721121 , 0.37855047, 0.7237341 , 0.42346826, 0.5372519 ,
       0.9997309 , 0.45779347, 0.625253  , 0.9948113 , 0.66975945,
       0.32489458, 0.98447233, 0.9948113 , 0.73597884, 0.4501542 ,
       0.4273965 , 0.47785556, 0.33757168, 0.5916065 , 0.94062334,
       0.8480008 , 0.97191566, 0.96393746, 0.33741906, 0.69012713,
       0.47261843, 0.9948113 , 0.99961   , 0.9971806 , 0.9996848 ,
       0.9869134 , 0.9464405 , 0.4211152 , 0.75352186, 0.9623286 ,
       0.99759287, 0.96475595, 0.34362134, 0.3782885 , 0.9645349 ,
       0.9999881 , 0.47194183, 0.9999716 , 0.98076135, 0.415077  ,
       0.91224986, 0.49370876, 0.85551643, 0.3224119 , 0.36324415,
       0.23576929, 0.9990402 , 0.50890726, 0.43123388, 0.9995291 ,
       0.36681113, 0.9201005 , 0.99977213, 0.9461733 , 0.99472225,
       0.9202818 , 0.9537483 , 0.9377186 , 0.9637863 , 0.9951391 ,
       0.9947206 , 0.96406597, 0.87323016, 0.9992229 , 0.96659756,
       0.38486004, 0.7006938 , 0.36985907, 0.9955782 , 0.9994118 ,
       0.4501542 , 0.94912446, 0.342975  , 0.5435129 , 0.5223724 ,
       0.9341067 , 0.9995086 , 0.71639997, 0.5500222 , 0.8580683 ,
       0.38305694, 0.99131775, 0.45773992, 0.38776866, 0.51881677,
       0.99999726, 0.9948113 , 0.4621458 , 0.5831998 , 0.9449216 ,
       0.44395867, 0.33578682, 0.9995191 , 0.70936126, 0.47795138,
       0.94985884, 1.        , 0.4103336 , 0.9202573 , 0.49504772,
       0.28381503, 0.45679405, 0.91590786, 0.3371775 , 0.84939915,
       0.722768  , 0.93677   , 0.7426581 , 0.9946038 , 0.87849444,
       0.9752969 , 0.96706736, 0.33757168, 0.6018648 , 0.34507564,
       0.65563136, 0.94569886, 0.938388  , 0.32610795, 0.39454684,
       0.33341813, 0.7700793 , 0.99848664, 0.4076705 , 0.38550282,
       0.43123388, 0.99997604, 0.62899745, 0.4501542 , 0.47261843,
       0.74490786, 0.9994816 , 0.9961437 , 0.43866935, 0.28367633,
       0.99999976, 0.88161135, 0.6556832 , 0.9094929 , 0.3488698 ,
       0.9531674 , 0.99468875, 0.99134517, 0.56525666, 0.95461327,
       0.39672822, 0.6141539 , 0.37243363, 0.9999987 , 0.5168079 ,
       0.92348224, 0.4897853 , 0.50755185, 0.49393135, 0.99939394,
       0.99958104, 0.7964819 , 0.9944628 , 0.31698087], dtype=float32)

## Saving Model

In [18]:
from keras.models import load_model
model_clf.save('model/model_classification.h5')