# Building basic deep learning model with keras
Step :
- Specify architecture
- Compile
- Fit
- Predict

In [2]:
# import library
import numpy as np
import pandas as pd 
import seaborn as sns
import matplotlib.pyplot as plt

# Reegression Deep Learning Model

## Data Preparations

In [4]:
# import datasets
PATH = 'data/hourly_wages.csv'

df = pd.read_csv(PATH)
print(df.head())

df.describe()

   wage_per_hour  union  education_yrs  experience_yrs  age  female  marr  \
0           5.10      0              8              21   35       1     1
1           4.95      0              9              42   57       1     1
2           6.67      0             12               1   19       0     0
3           4.00      0             12               4   22       0     0
4           7.50      0             12              17   35       0     1

   south  manufacturing  construction
0      0              1             0
1      0              1             0
2      0              1             0
3      0              0             0
4      0              0             0

,wage_per_hour,union,education_yrs,experience_yrs,age,female,marr,south,manufacturing,construction
count,534.000000,534.000000,534.000000,534.000000,534.000000,534.000000,534.000000,534.000000,534.000000,534.000000
mean,9.024064,0.179775,13.018727,17.822097,36.833333,0.458801,0.655431,0.292135,0.185393,0.044944
std,5.139097,0.384360,2.615373,12.379710,11.726573,0.498767,0.475673,0.455170,0.388981,0.207375
min,1.000000,0.000000,2.000000,0.000000,18.000000,0.000000,0.000000,0.000000,0.000000,0.000000
25%,5.250000,0.000000,12.000000,8.000000,28.000000,0.000000,0.000000,0.000000,0.000000,0.000000
50%,7.780000,0.000000,12.000000,15.000000,35.000000,0.000000,1.000000,0.000000,0.000000,0.000000
75%,11.250000,0.000000,15.000000,26.000000,44.000000,1.000000,1.000000,1.000000,0.000000,0.000000
max,44.500000,1.000000,18.000000,55.000000,64.000000,1.000000,1.000000,1.000000,1.000000,1.000000

In [6]:
predictors = df.drop(columns='wage_per_hour').values
target = df['wage_per_hour'].values

In [8]:
# 534 data, 9 features
print(predictors.shape)
print(target.shape)

(534, 9)
(534,)

## Import Keras Library

In [9]:
from keras.layers import Dense
from keras.models import Sequential

## 1. Specify the model

In [10]:
# save number of columns
n_cols = predictors.shape[1]

# initialize model
model = Sequential()

# add first layer
model.add(Dense(50, activation='relu', input_shape = (n_cols,)))

# add second layer
model.add(Dense(32, activation='relu'))

# add output layer
model.add(Dense(1))

## 2. Compiling the model

In [11]:
model.compile(optimizer='adam', loss='mean_squared_error')

## 3. Fitting the data

In [12]:
model.fit(predictors, target)

17/17 [==============================] - 0s 2ms/step - loss: 74.0436

# Classification Deep Learning Model

## Data Preparations

In [13]:
TITANIC_PATH = 'data/titanic_all_numeric.csv'

titanic = pd.read_csv(TITANIC_PATH)
titanic.head()

,survived,pclass,age,sibsp,parch,fare,male,age_was_missing,embarked_from_cherbourg,embarked_from_queenstown,embarked_from_southampton
0,0,3,22.0,1,0,7.2500,1,False,0,0,1
1,1,1,38.0,1,0,71.2833,0,False,1,0,0
2,1,3,26.0,0,0,7.9250,0,False,0,0,1
3,1,1,35.0,1,0,53.1000,0,False,0,0,1
4,0,3,35.0,0,0,8.0500,1,False,0,0,1

In [14]:
# import to_categorical
from keras.utils import to_categorical

# new predictors and targets
X = titanic.drop(columns='survived').astype(np.float32)
y = to_categorical(titanic['survived'])

In [15]:
# separate data
from sklearn.model_selection import train_test_split

predictors, pred_data, target, pred_target = train_test_split(X, y, test_size=0.2)

In [16]:
# 712 data, 10 features
print(predictors.shape)
print(target.shape)

print(pred_data.shape)
print(pred_target.shape)

(712, 10)
(712, 2)
(179, 10)
(179, 2)

In [17]:
n_cols = predictors.shape[1]

## 1. Specify the model

In [18]:
model_clf = Sequential()

# add first layer
model_clf.add(Dense(32, activation='relu', input_shape=(n_cols,)))

# add output layer
model_clf.add(Dense(2, activation='softmax'))

## 2. Compiling the model

In [19]:
model_clf.compile(optimizer='sgd', loss='categorical_crossentropy', metrics=['accuracy'])

## 3. Fitting the data

In [20]:
model_clf.fit(predictors, target)

23/23 [==============================] - 0s 913us/step - loss: 2.2799 - accuracy: 0.6643

## 4. Predict

In [21]:
predictions = model_clf.predict(pred_data)

# calculate predicted probability of survival
predictions[:,1]

array([5.64600229e-01, 2.21278563e-01, 1.64830666e-02, 3.79857272e-01,
       4.50902700e-01, 5.30372048e-03, 6.02923967e-02, 2.21770693e-04,
       2.30313428e-02, 3.31983529e-02, 2.29433607e-02, 3.54922079e-02,
       1.60365123e-02, 1.62155777e-02, 2.26886719e-02, 4.66856420e-01,
       3.81451339e-01, 6.77173911e-03, 1.59338191e-01, 2.15940992e-03,
       6.21520740e-04, 1.61861274e-02, 2.42894292e-02, 1.25862649e-02,
       1.59327760e-02, 6.86431117e-03, 1.95014216e-02, 3.83171742e-03,
       2.30263136e-02, 5.91376564e-04, 7.05460319e-04, 2.41547339e-02,
       5.40217559e-04, 3.77501026e-02, 3.88089158e-02, 7.43478769e-03,
       2.11615860e-02, 2.04609503e-04, 2.54934450e-04, 4.18906519e-03,
       1.97916999e-02, 7.21728206e-02, 1.82372853e-02, 6.02923967e-02,
       1.17845863e-01, 6.89536938e-03, 7.22480053e-03, 2.95330770e-03,
       1.40601322e-01, 2.78275069e-02, 1.03320815e-02, 1.26284271e-01,
       1.96746178e-03, 3.11512612e-02, 8.57459977e-02, 8.38501826e-02,
       4.25081640e-01, 1.83531523e-01, 1.66171901e-02, 2.37275995e-02,
       5.14978077e-03, 3.06821819e-02, 5.36869951e-02, 8.09690803e-02,
       1.15437947e-01, 2.32785400e-02, 4.65275371e-04, 1.54876010e-02,
       2.11661421e-02, 5.81195205e-02, 6.76661581e-02, 4.14778113e-01,
       1.63448192e-02, 2.25704685e-02, 6.75705746e-02, 5.22686988e-02,
       2.11846177e-02, 9.51242866e-04, 9.34644137e-03, 1.07590610e-03,
       5.32836094e-02, 8.35967213e-02, 6.76661581e-02, 4.25398536e-03,
       8.73681100e-04, 1.54023515e-02, 1.97999269e-01, 1.80138310e-03,
       4.08162475e-02, 1.23597803e-02, 1.57974325e-02, 2.11846177e-02,
       9.19293426e-03, 5.36365546e-02, 5.81248989e-03, 5.45002148e-02,
       9.20075085e-03, 9.99102462e-03, 2.94887990e-01, 2.03698147e-02,
       1.21423816e-02, 9.99102462e-03, 2.42894292e-02, 4.86597829e-02,
       5.73519012e-03, 2.69265496e-03, 4.83717863e-03, 2.06777379e-02,
       5.58074974e-02, 6.98297471e-02, 1.84477985e-01, 1.90052073e-02,
       3.76340374e-02, 5.36808483e-02, 7.74535015e-02, 2.31157616e-02,
       1.14344116e-02, 1.64830666e-02, 4.77158763e-02, 2.95593310e-02,
       1.27755841e-02, 8.59112740e-02, 2.12113298e-02, 4.78143767e-02,
       3.93107803e-05, 2.08282527e-02, 1.26174623e-02, 9.21803294e-04,
       9.80078056e-02, 1.20077860e-02, 2.11846177e-02, 1.64830666e-02,
       9.67970025e-03, 2.30313428e-02, 2.19441745e-02, 4.20658961e-02,
       1.22945897e-01, 5.12781218e-02, 5.70749044e-02, 4.62089712e-03,
       1.60073210e-02, 1.65148657e-02, 8.36309104e-04, 2.19276138e-02,
       1.27504021e-03, 1.66171901e-02, 5.67066148e-02, 2.11569425e-02,
       4.94818240e-02, 3.34670454e-01, 5.38411923e-02, 6.87313790e-04,
       4.24172506e-02, 2.41355272e-03, 1.72253717e-02, 2.38467418e-02,
       1.20808385e-04, 3.63646541e-03, 8.30509700e-03, 1.70855671e-02,
       1.30870864e-01, 6.88810647e-02, 1.81485470e-02, 2.01620366e-02,
       4.42207664e-01, 8.43782444e-03, 4.84363118e-04, 8.57966079e-04,
       4.20968533e-02, 5.17039478e-01, 4.66763368e-03, 3.77986394e-02,
       4.45063144e-01, 2.85333302e-03, 2.80898064e-02, 3.18279415e-02,
       8.51632953e-02, 6.46802410e-02, 1.66754576e-03], dtype=float32)

## Saving Model

In [22]:
from keras.models import load_model
model_clf.save('model/model_classification.h5')